# Google Maps API Key
# Get your API key from: https://developers.google.com/maps/documentation/javascript/get-api-key
# Make sure to enable the following APIs:
# - Maps JavaScript API
# - Street View Static API
# - Street View Service

VITE_GOOGLE_MAPS_API_KEY=AIzaSyAXXuJWwLkE4Ih_DhzyViVCAeCFKK72MRw
